<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reusable Donut Chart in D3 v4</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/donut.css">
    <script src="../js/donut.js"><s/script> 
</head>

<body>

<div id="chart"></div>

<script>
    var donut = donutChart()
        .width(1000)
        .height(800)
        .cornerRadius(3) // sets how rounded the corners are on each slice
        .padAngle(0.010) // effectively dictates the gap between slices
        .variable('%')
        .category('Power');

    d3.csv('../data/Powers.csv', function(error, data) {
        if (error) throw error;
        d3.select('#chart')
            .datum(data) // bind data to the div
            .call(donut); // draw chart in div
    });



</script>

</body>
</html>